@import "../styles/knowspeak.scss";

.landing {
    background-color: $background ;
    color: $text;

    .header {
        background-color: $text;
        color: $background;
        padding: 10px 20px 0 10px;

        .titleLogo {
            font-family: 'Manrope', sans-serif;
            font-weight: 900;
            color: $notification;
            font-size: 2rem;

            span {
                color: $primary;
            }
        }

        .title {
            font-size: 2rem;
            text-align: center;
        }

        .description {
            font-size: 1.5rem;
        }

        .containerStoreImage {
            justify-content: center;
            display: flex;
        }

        .storeImage {
            width: 200px;
        }

        .containerImageHeader {
            justify-content: center;
            display: flex;

            .verticalCellphoneHeader {
                height: 350px;
                margin-top: 20px;
            }
        }

    }

    .verticalCellphone {
        height: 300px;
        align-self: center;
    }

    .whiteSection {
        background-color: $card;
    }

    .waveContainer {
        height: 150px;
        overflow: hidden;
        margin-top: -1px;
    }

    .footer {
        background-color: $text;
        color: $background;
        height: 60px;
        padding: 15px;
        justify-content: center;
        display: flex;

        .link {
            text-align: center;
            color: $background;
        }

        .link:hover {
            color: $primary;
        }
    }


}

@media (min-width: 768px) {
    .landing {

        .header {

            padding: 30px 30px 0 30px;

            .title {
                font-size: 2rem;
                text-align: left;
            }

            .containerStoreImage {
                justify-content: left;

            }
        }
    }
}

@media (min-width: 992px) {
    .landing {

        .header {
            padding: 30px 100px 0 100px;
            z-index: 1;

            .title {
                font-size: 3rem;
            }
        }
    }
}